@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-body dark:bg-dark text-dark dark:text-light;
}

:root {
  --font-base: "Montserrat", sans-serif;
}

/* slider */
.carousel__pagination {
  @apply !justify-start !gap-6;
}
.carousel__pagination-button {
  @apply !w-3 !h-3 !bg-primary !bg-opacity-25 !rounded-full after:!hidden;
}
.carousel__pagination-button--active {
  @apply !bg-primary;
}

/* neomorphism */
.neomorphism {
  box-shadow: 7px 7px 14px #cccfd3, -7px -7px 14px #f9f8fd;
}

/* scroll personalizado */
.scrollContained::-webkit-scrollbar {
  width: 6px; /* Tamaño del scroll en vertical */
  height: 6px; /* Tamaño del scroll en horizontal */
}

.scrollContained::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scrollContained::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scrollContained::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.scrollContained::-webkit-scrollbar-track {
  background: #e7e7e7;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scrollContained::-webkit-scrollbar-track:hover,
.scrollContained::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
